.main {
display: flex;
justify-content:space-between ;

}
.content{
    color: white;
    margin-left: 150px ;
    width: 50% ;
} 
h3{
font-size: 48px ;
}
.paraa{
font-size: 22px;
width: 90% ;
margin-top: 20px ;
margin-bottom: 20px ;
flex: 1 ;
}
.btn{
    background-color: #00000000;
    color: white;
    padding: 1rem 2rem; /* Increase padding to make the button larger */
    font-size: 1.5rem; /* Increase font size */
    border: 2px solid; /* Make the border thicker */
    cursor: pointer;
}
.imgg{
    max-width: 35%; 
    height: auto; 
    margin-right: 150px ;
    border-radius: 10px ;
}