.cards-container {
  display: grid;
 
  gap: 20px; 
  justify-items: center; /* Align cards in the center */
  padding: 20px 20px 0px 20px ;
}

.Container {
  border: 3px solid;
  border-radius: 8px;
  width: 100%; /* Make the card take up the full space of the grid column */
  max-width: 350px; /* Optional: Limit the maximum width of a card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #131313;
  border-color: #191919;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
 min-height: 900px;
  
}

.cimgg {
  width: 100%;
  height: 370px !important;
  object-fit: cover;
  border-radius: 8px;
}

.heading {
  color: white;
  margin: 10px;
  font-size: 32px;
}

.loc {
  color: white;
  margin-left: 12px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 300;
  padding-right: 20px;
  margin-bottom: 5px;
}

.price {
  color: white;
  font-size: medium;
  font-weight: 400;
  font-size: 22px;
  border: 1px solid;
  padding: 4px;
  border-radius: 8px;
  background-color: #346751;
  border-color: #00000000;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btnc {
  background-color: #00000000;
  width: 100%;
  color: white;
  padding: 1rem 6rem;
  font-size: 1.5rem;
  border: 1px solid;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
  border-color: #ffffff;
  border-radius: 8px;
  align-self: center;
}

.Container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.old {
  text-decoration: line-through;
  color: rgb(165, 0, 0);
}
