.old{
    color: red ;
    font-size:15px ;
    padding: 0px;
    margin-left: 3px ;
    text-decoration-line: line-through ;

}
.pricee{
    margin-left: 0px;
    color: white ;
    font-size: medium;
    font-weight: 400 ;
    font-size: 22px  ;
    border: 1px solid ;
    padding: 4px;
    border-radius: 8px ;
    margin-left: 5px ;
    background-color: #346751 ;
    border-color: #00000000;
    padding-top: 0px ;
    padding-bottom: 0px 
}