@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
  background-color: black;
  font-family: 'Cairo', sans-serif;
}

.loca {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 300;
  margin: 25px 0;
  direction: rtl;
}

.price {
  color: white;
  font-size: 28px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #346751;
  margin-left: 1px;
  font-family: 'Cairo', sans-serif;
}

.cimg {
  width: 320px;
  height: 370px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 30px;
}

.text {
  font-size: 48px;
  color: white;
  margin: 25px 0;
}

.Container {
  margin-top: 50px;
}

.zoz {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  align-items: flex-start; /* Align items at the start */
}


.wordss {
  margin-right: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  .Container {
    margin-top: 20px;
    padding: 0 10px;
  }
  
  .zoz {
    flex-direction: column;
    align-items: center;
  }
  
  .cimg {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
  }
  
  .wordss {
    margin-right: 0;
  }
  .loca {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0;
    direction: rtl;

  }
  .text {
    font-size: 28px; /* New smaller font size for mobile */
  }
  .price {
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #346751;
    margin-left: 1px;
    font-family: 'Cairo', sans-serif;
  }
  
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


.skeleton-image {
  margin-left: 30px; /* Ensure spacing matches the layout */
}

.wordss {
  margin-right: 30px; /* Adjust this if needed */
  width: 100%;
}
