/* General Styles */
.header {
  width: 100%;
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url ("ba"); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 40px 40px 0px 40px;
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-middle {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.navbar-middle ul {
  list-style: none;
  display: flex;
  font-weight: bold;
}

.navbar-middle li {
  margin: 0 1rem;
}

.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.register-button {
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1721248677632-627ae777ca23?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  background-position: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    margin: 20px;
  }

  .navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .navbar-left img {
    max-width: 70px; /* Adjust the size of the logo */
    height: auto;
  }

  .navbar-middle {
    flex: 2;
    display: flex;
    justify-content: space-around;
  }

  .navbar-middle ul {
    flex-direction: row; /* Ensure items stay on the same line */
    width: auto;
    padding: 0;
    margin: 0;
    overflow-x: auto; /* Allows horizontal scrolling if needed */
    font-size: 14px; /* Reduce font size for mobile */
  }

  .navbar-middle li {
    margin: 0 0.5rem; /* Adjust spacing */
  }

  .register-button {
    font-size: 14px;
    padding: 0.4rem 0.8rem; /* Adjust padding */
    margin-left: 1rem;
  }

  .hero {
    background-size: cover;
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
    margin: 10px;
  }

  .navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .navbar-left img {
    max-width: 50px; /* Further adjust the size of the logo */
    height: auto;
  }

  .navbar-middle ul {
    font-size: 12px; /* Further reduce font size */
    display: flex;
    flex-direction: row; /* Ensure items stay on the same line */
  }

  .navbar-middle li {
    margin: 0 0.3rem; /* Further reduce margin */
  }

  .register-button {
    font-size: 12px;
    padding: 0.3rem 0.6rem; /* Further reduce padding */
  }

  .hero {
    min-height: 50vh;
    padding: 0.5rem;
  }
}
